body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color:#87CEFA;
}

.titulo{
    font-family: 'Russo One', sans-serif;
}
